.git
.env
.env.*
!.env.example
vendor
node_modules
front/node_modules
storage/app/*
!storage/app/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
compose*.yaml
Dockerfile*
